@import "../Admin/styles/_variables";

.InputFields {

  select { 
    border-bottom: 1px solid #ddd !important;
  }

  .sortable-placeholder {
      border: 1px dashed $brand;
      height: 3.1em;
      line-height: 1em;
      margin: 1em;
  }

  .field-list{
    .item{
      padding: 1em;
      margin: 1em;
      cursor: move;
      background: #fff;
      height: 3.1em;
      line-height: 1em;
      box-sizing: border-box;
      border: 1px solid $light-gray;
      &:hover{
        // background: $link-color;
        border-color: $link-color;
        // color: #fff;
      }
    }
  }
}

body.dragging,
body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}
