# Phlatson Managed folder
/storage/*

# PHP CS Fixer
.php_cs.cache

# IDE Files
.vscode
sftp-config.json
*.sublime-project
*.sublime-workspace
gulpfile.js

# OS Files
.DS_Store*
Icon?
Thumbs.db
ehthumbs.db
*.swp
$RECYCLE.BIN/
Desktop.ini

# Node Modules
/node_modules
/node_modules/*

# Composer
/composer.lock
/vendor
/vendor/*

#IDEs
.vscode/*
# *.code-workspace
.idea/*
