#PHPSTORM
.idea/*

#SUBLIME
*.sublime-project
*.sublime-workspace
sftp-site.json

#CMS Assets
cache/*
assets/*
prepros.cfg
libraries/*
.vscode/*
vendor/composer/autoload_classmap.php
vendor/
composer.lock
composer.json
