# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Bash Scripts
*.sh

# IDE Files
.vscode
sftp-config.json
*.sublime-project
*.sublime-workspace
gulpfile.js


# Deployer
deploy.php

# Docker
docker-compose.yml
__docker

# Node Modules
/node_modules
/node_modules/*

# Composer
/composer.lock
/vendor
/vendor/*


#CMS Assets
cache/*
assets/*
prepros.cfg
libraries/*
.vscode/*
vendor/composer/autoload_classmap.php
vendor/