
# Prevent file browsing
Options -Indexes
Options +FollowSymLinks

# Flatbed will handle 404s
ErrorDocument 404 /index.php

<Files favicon.ico>
  ErrorDocument 404 "The requested file favicon.ico was not found.
</Files>

<Files robots.txt>
  ErrorDocument 404 "The requested file robots.txt was not found.
</Files>


<IfModule mod_headers.c>
  # disallow iframe ebedding of site
  Header always append X-Frame-Options SAMEORIGIN
  # prevent mime-based attacks
  Header set X-Content-Type-Options "nosniff"
</IfModule>

# Default directory index
DirectoryIndex index.php index.html index.htm


# rewrite rules
<IfModule mod_rewrite.c>

	RewriteEngine On
	AddDefaultCharset UTF-8

    <IfModule mod_env.c>
      SetEnv HTTP_MOD_REWRITE On
    </IfModule>

    # set root URL if needed for running from a sub folder
    # exmplate www.wesite.com/example-url
	# RewriteBase /example-url
	RewriteBase /

    # Lets Encrypt support
    RewriteRule "(^|/)\.(?!well-known)" - [F]


    # block access json file in site folder
    RewriteRule ^site/(.*)\.(txt|md|mdown)$ error [R=301,L]

    # block access to all sensitive system files
    RewriteRule ^site/(.*)\.(php|txt|md|mdown)$ error [R=301,L]

    # allow direct file access
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d


    # prevent flatbed from attempting to load images or anything in assets
    RewriteCond %{REQUEST_FILENAME} !\.(jpg|jpeg|gif|png|ico)$ [NC]
    RewriteCond %{REQUEST_FILENAME} !(^|/)site/assets/

    # don't send missing image request through Flatbed
    RewriteCond %{REQUEST_URI} !\.(gif|jpg|png|ico)$ [NC]

    # pass request to Flatbed (use the seconf rule here instead if using VirtualDocumentRoot)
	RewriteRule ^(.*)$ index.php [L,QSA]


</IfModule>
