# AllowOverride All
# Prevent file browsing
Options -Indexes
Options +FollowSymLinks



# Default directory index
DirectoryIndex index.php

# rewrite rules
<IfModule mod_rewrite.c>

	RewriteEngine On
	AddDefaultCharset UTF-8

    <IfModule mod_env.c>
      SetEnv HTTP_MOD_REWRITE On
    </IfModule>

  # force trailing slashes
  # RewriteCond %{REQUEST_FILENAME} !-f
  # RewriteRule ^(.*)([^/])$  /$1$2/ [L,R=301]
  # RewriteBase /

  # Lets Encrypt support
  RewriteRule "(^|/)\.(?!well-known)" - [F]


  # allow direct file access
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

  # prevent Phlatson from attempting to load images or anything in assets
  RewriteCond %{REQUEST_FILENAME} !\.(jpg|jpeg|gif|png|ico)$ [NC]
  RewriteCond %{REQUEST_FILENAME} !(^|/)site/assets/

  # don't send missing image request through Phlatson
  RewriteCond %{REQUEST_URI} !\.(gif|jpg|png|ico)$ [NC]

  # pass request to Phlatson (use the seconf rule here instead if using VirtualDocumentRoot)
	RewriteRule ^(.*)$ index.php [L,QSA]


</IfModule>
