$color: #610322;
.packages-banner-wfol{
	position: relative;

	> img {
		width: 100%;
		max-width: none;
		@media screen and (max-width: 700px) {
			width: 120%;
			margin-left: -10%;
		}
	}
	.banner-title{

		text-transform: uppercase;
		font-family: $font-headings;
		@media screen and (min-width: 700px) {
			position: absolute;
			top: 0;
			text-align: right;
			height: 100%;
			width: 100%;
			right: 0;
		}
		&:before{
			content: "";
			display: inline-block;
			vertical-align: middle;
			height: 100%;
			width: 1%;
			@media screen and (max-width: 700px) {
				display: none;
			}
		}

		
		.title{
			
			line-height: 1em;
			background: $color;
			padding: .4em;
			padding-bottom: .7em;
			color: lighten($color, 25%);
			@media screen and (min-width: 700px) {
				background: transparentize($color, .5);
				padding: 0 1em .3em 0;
				text-align: right;
				vertical-align: middle;
				width: 50%;
				display: inline-block;
			}
			@media screen and (max-width: 500px) {
				font-size: .8em;
			}

			.subtitle,
			.date{
				font-family: $font-main;
				color: #fff;
				font-size: .4em;
				line-height: 1em;
				
			}
			.date{

				font-size: .3em;
				opacity: .6;
				
			}
			.sub{
				span{
					display: inline-block;
					vertical-align: middle;
				}
				a{
					color: lighten($color, 25%);
					&:hover{
						color: #fff;
					}
				}
			}
			.focus-title{
				font-size: 1.6em;
				&:before{
					content: "";
					display: block;
				}
			}
			
			> span{
				
				
			}
		}
	}

}