
body {
  min-height: 100%;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  color: $text-color;
  background: $main-background;
  min-width: 320px;
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

body.dragging,
body.dragging * {
  cursor: move !important;
}

h1, h2, h3, h4 {
  font-family: "Montserrat","Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

h1{
  color: #fff;
  padding: 1em 0;
  margin: 0;
  line-height: 1em;
}

a{
  text-decoration: none;
  color: $link-color;
  &:hover{
    text-decoration: underline;
    color: $link-hover-color;
  }
}

form{
  margin: 0;
}

.header {
  background: $brand;
  margin-bottom: 3rem;
}

.breadcrumbs {
  >a {
    text-decoration: none;
    color: #fff;
    padding: .3rem;
    display: inline-block;
  }
}

.menu {
  >a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    display: inline-block;
    font-weight: bold;
  }
}

pre, code {
  font-family: "Roboto Mono", monospace;
}