
pre {
	@include apply("font-monospace");
	overflow: hidden;
	
	color: #999;
	
	
	&::after {
		content: "";
		
	}
	code {
		overflow: hidden;
		background: #fff;
		@include apply("font-monospace");
		padding: 1.5em;
		display: block;
	}
}

code.hljs {
	
	.hljs-attr,
	.hljs-tag {
		@include apply("color-brand");
	}
	.hljs-string {
		color: #000;
	}
	.hljs-number {
		@include apply("color-brand-light");
	}
	.php {
		color: #aaa;
		.hljs-meta {
			// color: #fff;
		}
	}
}