@mixin container {
    max-width: 1130px;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 0 1.5rem;
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

.container {
    @include container;
}


.page-header {
    display: flex;
    background: $brand;
    color: #fff;
    @include section-spacing-bottom;
	.container {
		@include section-spacing;
	}
}