.container {
    max-width: $container-width;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
    padding: 0 1rem;
    @include media('tablet') {
      padding: 0 2rem;

    }
}

.container {
    &.grid {
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        @include media("tablet") {
            padding: 0 1rem;
        }
    }
}
.container-wide {
    padding: 0 1rem;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    @include media("tablet") {
        padding: 0 $gutter;
    }
    &.grid {
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        @include media("phablet") {
            padding: 0 1rem;
        }
    }
}
.container-max {
    @include media("hd") {
        max-width: 1600px;
    }
}

.grid {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin: (-$gutter/4);    
    @include media("tablet") {
        margin: (-$gutter/2);
    }

    &.-no-gutter {
        margin: 0;
        padding: 0;
        >.column {
            padding: 0;
        }
    }

    &.grid-auto {
        flex-wrap: nowrap;
        &>.column {
            width: auto;
            flex-grow: 1;
            flex-shrink: 1;
        }
    }

}


// columns
.column { 
    
    padding: $gutter/4;
    @include media("tablet") {
        padding: $gutter/2;
    }
    
    width: 100%;
    max-width: 100%;
    flex: 0 0 auto;
}

