@include register(
	(
		"responsive": true,
		"pseudo": true,
		"definitions": (
			"rounded-none": (
				border-radius: 0,
			),
			"rounded-small": (
				border-radius: 0.25rem,
			),
			"rounded": (
				border-radius: 0.5rem,
			),
			"rounded-large": (
				border-radius: 1rem,
			),
			"round": (
				border-radius: 50%,
			),
			"pill": (
				border-radius: 9999rem,
			),
			"background-image": (
				background-size: cover,
				background-repeat: no-repeat,
				background-position: center center,
			),
			"background-center": (
				background-position: center center,
			),
			"background-cover": (
				background-size: cover,
			),
			"background-contain": (
				background-size: contain,
			),
			"background-no-repeat": (
				background-repeat: no-repeat,
			),
			"background": (
				background-position: center center,
				background-size: cover,
				position: absolute,
				top: 0,
				bottom: 0,
				left: 0,
				right: 0,
				opacity: 0.4,
			),
		),
	)
);

// decorations
@include register(
	(
		"responsive": true,
		"hover": true,
		"definitions": (
			"shadow-small": (
				box-shadow: 0 0.15rem 0.4rem rgba(0, 0, 0, 0.1),
			),
			"shadow": (
				box-shadow: 0 0.25rem 0.75rem -0.25rem rgba(0, 0, 0, 0.15),
			),
			"shadow-strong": (
				box-shadow: 0 0.25rem 0.75rem -0.25rem rgba(0, 0, 0, 0.25),
			),
			"shadow-inset": (
				box-shadow: inset 0 0.25rem 0.75rem -0.25rem rgba(0, 0, 0, 0.15),
			),
			"shadow-large": (
				box-shadow: 0 0.33rem 1.5rem -0.1rem rgba(0, 0, 0, 0.1),
			),
			"shadow-inset-large": (
				box-shadow: inset 0 0.33rem 1.5rem -0.1rem rgba(0, 0, 0, 0.1),
			),
			"shadow-none": (
				box-shadow: none,
			),
			"grayscale": (
				filter: grayscale(100%),
			),
		),
	)
);

// borders
@include register(
	(
		"responsive": true,
		"hover": true,
		"focus": true,
		"definitions": (
			// styles
				"border-none": (border-style: none),
			"border-solid": (border-style: solid),
			"border-dashed": (border-style: dashed),
			"border-dotted": (border-style: dotted),
			"border-double": (border-style: double),
			// all sides
				"b0": (border-width: 0),
			"b1": (border-width: 1px),
			"b2": (border-width: 2px),
			"b4": (border-width: 4px),
			"b8": (border-width: 8px),
			// top
				"bt0": (border-top-width: 0),
			"bt1": (border-top-width: 1px),
			"bt2": (border-top-width: 2px),
			"bt4": (border-top-width: 4px),
			"bt8": (border-top-width: 8px),
			// left
				"bl0": (border-left-width: 0),
			"bl1": (border-left-width: 1px),
			"bl2": (border-left-width: 2px),
			"bl4": (border-left-width: 4px),
			"bl8": (border-left-width: 8px),
			// right
				"br0": (border-right-width: 0),
			"br1": (border-right-width: 1px),
			"br2": (border-right-width: 2px),
			"br4": (border-right-width: 4px),
			"br8": (border-right-width: 8px),
			// bottom
				"bb0": (border-bottom-width: 0),
			"bb1": (border-bottom-width: 1px),
			"bb2": (border-bottom-width: 2px),
			"bb4": (border-bottom-width: 4px),
			"bb8": (border-bottom-width: 8px),
		),
	)
);

// build
@include register(
	(
		"responsive": false,
		"definitions": (
			// cursor style
				"cursor-auto": (cursor: auto),
			"cursor-default": (cursor: default),
			"cursor-pointer": (cursor: pointer),
			"cursor-wait": (cursor: wait),
			"cursor-move": (cursor: move),
			"cursor-not-allowed": (cursor: not-allowed),
			// events
				"pointer-events-none": (pointer-events: none),
			"pointer-events-auto": (pointer-events: auto),
			"resize-none": (resize none),
			"resize": (resize both),
			"resize-y": (resize vertical),
			"resize-x": (resize horizontal),
			"no-select": (user-select: none),
		),
	)
);

@include register(
	(
		"hover": true,
		"definitions": (
			'transition': (
				transition: .3s
			),
			'transition-delay': (
				transition-delay: .25s
			),
			'transition-delay-2x': (
				transition-delay: .5s
			),
			"transition-slowZoom": (
				transition: 2s,
				transform: scale(1.015),
			),
		),
	)
);
