@import "../partials/variables";
body {
	background: $brand;
}

.site-navigation {
	margin-bottom: 2rem;
	text-align: center;
}

.page-header {
	text-align: center;
	color: #fff;
	
}

.feature {
	color: #fff;
}