
/* ==================================================
BUTTONS
================================================== */
.button {
    position: relative;
    z-index: 2;
    margin:  0 0 .5rem 0;
    @include button(#000);
    &.-large {
        font-size: 1.2em;
    }
}
.button-blue {
    @include button( $blue );
}
.button-red {
    @include button( $red );
}
.button-green {
    @include button( $green );
}
.button-gray {
    @include button( $gray );
}
.button-white {
    @include button( #eee );
}
