@mixin pseudo-image-aspect ($width: 1, $height: 1, $breakpoint: '') {

    $class: ".aspect-" + $width + "x" + $height;

    @if $breakpoint != '' {
        $class: ".#{$breakpoint}\\:aspect-" + $width + "x" + $height;
    }

    #{$class} {
        padding-top: percentage($height/$width);
    }
}

@mixin default-pseudo-image-aspects($breakpoint:'') {
    @include pseudo-image-aspect(1,1,$breakpoint);
    @include pseudo-image-aspect(2,1,$breakpoint);
    @include pseudo-image-aspect(3,1,$breakpoint);
    @include pseudo-image-aspect(3,2,$breakpoint);
    @include pseudo-image-aspect(4,3,$breakpoint);
    @include pseudo-image-aspect(5,4,$breakpoint);
}
.pseudo-image {
    background-size: cover !important;
    background-position: center !important;
    width: 100%;
    display: block;
    

    // loop through breakpoints to create responsive image aspects
    // class="pseudo-image -aspect-1x1" (sqaure image)


}

@include default-pseudo-image-aspects;

@each $name, $width in $breakpoints {
    @include media($name) {
        @include default-pseudo-image-aspects($name);
    }
}