
.container {
    max-width: $container-width;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 0 1rem;
    @include media('tablet') {
      padding: 0 $gutter;
    }
    position: relative;
    width: 100%;
}


@mixin section-spacing($margin: 2rem, $direction: "top") {
    margin-#{$direction}: $gutter;
    @include media("desktop") {
        margin-#{$direction}: $margin * 1.5;
    }
    @include media("hd") {
        margin-#{$direction}: $margin * 2;
    }
}

.section-spacing {
  @include section-spacing($gutter, "top");
  @include section-spacing($gutter, "bottom");
}
.section-spacing-top {
  @include section-spacing($gutter, "top");
}
.section-spacing-bottom {
  @include section-spacing($gutter, "bottom");
}

.section-spacing-small {
  @include section-spacing($gutter/2, "top");
  @include section-spacing($gutter/2, "bottom");
}
.section-spacing-small-top {
  @include section-spacing($gutter/2, "top");
}
.section-spacing-small-bottom {
  @include section-spacing($gutter/2, "bottom");
}

.section-spacing-large {
  @include section-spacing($gutter*1.5, "top");
  @include section-spacing($gutter*1.5, "bottom");
}
.section-spacing-large-top {
  @include section-spacing($gutter*1.5, "top");
}
.section-spacing-large-bottom {
  @include section-spacing($gutter*1.5, "bottom");
}