.container {
  max-width: 1130px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  padding: 0 1rem; }
  @media (min-width: ) {
    .container {
      padding: 0 2rem; } }

.container.grid {
  padding: 0;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: ) {
    .container.grid {
      padding: 0 1rem; } }

.container-wide {
  padding: 0 1rem;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: ) {
    .container-wide {
      padding: 0 2rem; } }
  .container-wide.grid {
    padding: 0;
    margin-left: auto;
    margin-right: auto; }
    @media (min-width: ) {
      .container-wide.grid {
        padding: 0 1rem; } }

@media (min-width: ) {
  .container-max {
    max-width: 1600px; } }

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -0.5rem; }
  @media (min-width: ) {
    .grid {
      margin: -1rem; } }
  .grid.-no-gutter {
    margin: 0;
    padding: 0; }
    .grid.-no-gutter > .column {
      padding: 0; }
  .grid.grid-auto {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
    .grid.grid-auto > .column {
      width: auto;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1; }

.column {
  padding: 0.5rem;
  width: 100%;
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }
  @media (min-width: ) {
    .column {
      padding: 1rem; } }

/* ==================================================
BUTTONS
================================================== */
.button {
  font-size: .9em;
  color: rgba(255, 255, 255, 0.9) !important;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none !important;
  font-weight: 600;
  vertical-align: middle;
  padding: .6em 1.2em;
  border-radius: 2em;
  border: 0 !important;
  cursor: pointer;
  white-space: nowrap;
  line-height: 1em;
  background-image: linear-gradient(120deg, #0a0a0a, #1a1a1a);
  -webkit-box-shadow: 0 0.25rem 0.75rem -0.25rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.25rem 0.75rem -0.25rem rgba(0, 0, 0, 0.1); }
  .button:hover {
    -webkit-box-shadow: 0 1rem 0.6rem -0.8rem rgba(0, 0, 0, 0.05);
            box-shadow: 0 1rem 0.6rem -0.8rem rgba(0, 0, 0, 0.05);
    background-image: linear-gradient(120deg, #1a1a1a, #2b2b2b); }
  .button:disabled {
    opacity: 0.3 !important;
    pointer-events: none !important;
    background: #999 !important; }

.button-green {
  background-image: linear-gradient(120deg, #15c441, #18e078); }
  .button-green:hover {
    background-image: linear-gradient(120deg, #18e04d, #33e987); }

.button-gray {
  background-image: linear-gradient(120deg, #a3a3a3, #b3b3b3); }
  .button-gray:hover {
    background-image: linear-gradient(120deg, #b3b3b3, #c4c4c4); }

.button-white {
  background-image: linear-gradient(120deg, #f8f8f8, white);
  color: #000000 !important; }
  .button-white:hover {
    background-image: linear-gradient(120deg, white, white); }
