/* Colors */
/* ELEMENT COLORS */
/* SIZES */
.redactor_box {
  border: none;
  border-radius: 0;
}
.redactor_toolbar {
  box-shadow: none;
  border-bottom: 1px dashed #ddd;
}
.redactor_toolbar li a {
  padding: 0.85em 1em;
}
.redactor_toolbar li a:hover {
  background: #48a7ff;
}
.redactor_editor {
  border: none;
}
.redactor_input {
  width: 100%;
  box-sizing: border-box;
}
.redactor_box_fullscreen {
  z-index: 1000 !important;
  width: 100% !important;
}
.redactor_box_fullscreen .redactor_editor {
  padding-bottom: 2em;
}
.re-fullscreen {
  position: absolute;
  right: 0;
}
