
@mixin section-spacing-top {
    margin-top: 2rem;
    @include media("desktop") {
        margin-top: 3rem;
    }
    @include media("hd") {
        margin-top: 4rem;
    }
}

@mixin section-spacing-bottom {
    margin-bottom: 2rem;
    @include media("desktop") {
        margin-bottom: 3rem;
    }
    @include media("hd") {
        margin-bottom: 4rem;
    }
}

@mixin section-spacing-top {
    margin-top: 2rem;
    @include media("desktop") {
        margin-top: 3rem;
    }
    @include media("hd") {
        margin-top: 4rem;
    }
}

@mixin section-spacing-bottom {
    margin-bottom: 2rem;
    @include media("desktop") {
        margin-bottom: 3rem;
    }
    @include media("hd") {
        margin-bottom: 4rem;
    }
}

@mixin section-spacing {
    @include section-spacing-top;
    @include section-spacing-bottom;
}


@mixin section-spacing-reduced-top {
    margin-top: 1rem;
    @include media("desktop") {
        margin-top: 1.5rem;
    }
    @include media("hd") {
        margin-top: 2rem;
    }
}


@mixin section-spacing-reduced-bottom {
    margin-bottom: 1rem;
    @include media("desktop") {
        margin-bottom: 1.5rem;
    }
    @include media("hd") {
        margin-bottom: 2rem;
    }
}

@mixin section-spacing-reduced {
    @include section-spacing-reduced-top;
    @include section-spacing-reduced-bottom;
}

@mixin section-spacing-large-top {
    margin-top: 3rem;
    @include media("desktop") {
        margin-top: 4.5rem;
    }
    @include media("hd") {
        margin-top: 6rem;
    }
}


@mixin section-spacing-large-bottom {
    margin-bottom: 3rem;
    @include media("desktop") {
        margin-bottom: 4.5rem;
    }
    @include media("hd") {
        margin-bottom: 6rem;
    }
}

@mixin section-spacing-large {
    @include section-spacing-large-top;
    @include section-spacing-large-bottom;
}

