* {
    box-sizing: border-box;
    border: 0;
}
html {
    height: 100%;
    width: 100%;
    font-size: 18px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-smooth: always;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0;
    font-size: inherit;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
}

ol,
p,
ul {
    margin: 0 0 1rem 0;
    line-height: 1.8em;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

p {
    img {
        margin: 0.5rem 0;
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;

    &:focus {
        outline: 5px auto 0;
        outline-offset: -2px;
    }

    &:active,
    &:hover {
        outline: 0 !important;
    }

}

small {
    font-size: 0.8em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    
    margin: 2rem 0 1rem;
    padding: 0;
    line-height: 1em;

    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }

    a {
        color: inherit !important;
        text-decoration: none !important;
    }

    > strong {
        font-weight: inherit !important;
    }

}

h1 {
    margin: 0;
    @include apply('size-h1');
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1em;
    text-transform: none;
}

h6 {
    font-size: 0.8em;
}

sub,
sup {
    font-size: 0.6em;
    font-weight: bold;
    position: relative;
    vertical-align: baseline;
}

sup {
    bottom: 0.65em;
}

sub {
    bottom: -.1em;
}

hr {
    margin: 2rem 0;
    border: 0;
    border-top: 1px solid #ddd;
    clear: both;
}

blockquote {
    font-size: 1.2em;
    margin: 1rem 0;
}

address {
    font-style: normal;
}

ol,
ul {
    padding: .5rem 0 0 2.5em;
    line-height: 1.4em;
    li {
        margin-bottom: .6em;
    }
}

img {
    max-width: 100%;
    height: auto;
}


// forms and inputs
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 1rem;
    line-height: inherit;
    ::placeholder {
        color: inherit;
        font-family: inherit;
    }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none !important;
}

/* Forms & Inputs */
fieldset {
    border: 0;
    padding: 0;
}

input,
select,
textarea {
    font-size: 1rem;
    line-height: inherit;
    margin: 0;
    padding: 0.5em;
    outline: none !important;
}
input,
select {
    height: 2.4em;
    width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
    height: auto;
    width: auto !important;
}

legend {
    font-size: 1rem;
    margin: 2rem 0 0.5rem;
    display: block;
    width: 100%;
    padding: 0;
}

textarea {
    max-width: 100%;
    padding: 1rem;
    line-height: 1em;
    font-family: Verdana, Geneva, sans-serif;
    height: auto;
}

textarea {
    width: 100%;
}
input:focus,
textarea:focus,
select:focus {
    background: #fff;
    border-color: inherit;
}

label {
    line-height: 1em;
    margin: 1.5rem 0 0.5rem 0;
}
label input,
label select {
    vertical-align: middle;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	background-repeat: no-repeat !important;
	background-position:  right center !important;
	color: #000;
	cursor: pointer;
}
select::-ms-expand {
    display: none; /* hide the default arrow in ie10 and ie11 */
}

table {
    width: 100% !important;
    border: none;
    border-top: 1px solid inherit;
    border-bottom: none;
    background-color: transparent;
    border-spacing: 0;
    margin: 2rem 0;
    background: #fff;
    font-size: .9em;
}

th, td {
    padding: .6rem .8rem ;
}

td {
    border: none;
    border-bottom: 1px solid inherit;
    border-right: 1px solid inherit;
    &:first-child  {
        border-left: 1px solid inherit;
    }
    vertical-align: middle;

}

th {
    border: 0;
    background: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .85em;
    text-align: left;
    line-height: 1.1em;
    background: #000 !important;
    color: #fff !important;
    p {
        line-height: 1em;
    }
}