
pre {
	font-family: $font-monospace;
	overflow: hidden;
	
	color: #999;
	
	
	&::after {
		content: "";
		
	}
	code {
		overflow: hidden;
		background: #fff;
		font-family: $font-monospace;
		padding: 1.5em;
		border-radius: .5rem;
		@include soft-shadow-large;
		display: block;
	}
}

code.hljs {
	
	.hljs-attr,
	.hljs-tag {
		color: $brand;
	}
	.hljs-string {
		color: #000;
	}
	.hljs-number {
		color: lighten($brand, 15%);
	}
	.php {
		color: #aaa;
		.hljs-meta {
			// color: #fff;
		}
	}
}