@import "_variables";

body {
    background: $brand;
}

.form-login{
  background: #fff;
  padding: 2em;
  width: 240px;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -120px 0 0 -120px;
  box-shadow: 0 1.5em 3em rgba(0,0,0,.3), 0 .5em 1em rgba(0,0,0,.1), 0 .2em .4em rgba(0,0,0,.3); 
  .field{
    box-sizing: border-box;
    input{
      background-color: transparent !important;

    }
    &:first-child {
      margin-top: 0;
    }
  }
  .button{
    border-radius: 0;
    margin-top: 1em;
    width: 100%;
    background: $green;
    padding: 1em;
    color: #fff !important;
    border-radius: .2em;
    &:hover{
      background: darken($green, 10%);
      color: #fff !important;
    }
  }
}

.logo{
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  width: auto;
  text-align: center;
  img{
    max-width: 84%;
    display: inline-block;
    margin: 0;
    position: static;
    margin: 1.3em 0 1em;
  }
}