body {
    color: #777;
    background: #fff;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
}

#main {
    padding: 3em 0;
}

#nav, #subnav, #breadcrumbs ol {
    margin: 0;
    border: none;
    background: transparent;
    text-transform: uppercase;
}

#nav a {
    color: #d66;
    font-weight: 100;

    font-size: 1.2em;
}

#nav a:hover {

    color: #722;
}

#nav .active a {
    background: transparent;
    color: #fff;
}

#subnav {
    font-weight: bold;
    background: #fff;
}

.header {
    background: #a44;
    color: #fff;
    line-height: 1em;
    padding: 3em 0;
    border-bottom: 1px solid #fff;
}

.header .col {
    vertical-align: middle;
    display: inline-block;
    float: none;
}

.header h1 {
    font-size: 4em;
    font-family: 'Raleway', sans-serif;
    line-height: 1em;
    margin: 0;
    text-transform: uppercase;
    font-weight: 100;
}

.header h1 a {
    text-decoration: none;
    color: #fff;
}

#breadcrumbs {
    padding-top: 1em;
    background: #fafafa;
    font-size: 0.85em;
}

#breadcrumbs a {
    color: #666;
}

#breadcrumbs a:hover {
    color: #a44;
}

.footer {
    border-top: 1px solid #ddd;
    text-align: center;
    padding: 2em 0;

}

article{
    margin-bottom: 4em;
    border: 1px solid #ddd;
    padding: 2em;
}
article header{
    color: #333;
    border-bottom: 1px solid #ddd;
    padding-bottom: .3em;
    margin-bottom: 2em;
    margin-top: 0;
}
article .title{
    font-size: 2.5em;
    margin-top: 0;
}
article .title a{
    color: #333;
    text-decoration: none !important;
}