// text colors
@include register(	(
	"responsive": false,
	"definitions": createDefinitions(
		$property: color, 
		$values: $colors, 
		$prefix: "color-"
	),
));

// background colors
@include register(	(
	"responsive": false,
	"definitions": createDefinitions(
		$property: background-color, 
		$values: $colors, 
		$prefix: "bg-"
	),
));


// border colors
@include register(	(
	"responsive": false,
	"definitions": createDefinitions(
		$property: border-color, 
		$values: $colors, 
		$prefix: "border-"
	),
));
