
$display : (
    'responsive': true,
    'hover': true,
    'print': true,
    'definitions':  (
        "flex": (display: flex),
        "flex-inline": (display: flex-inline),
        "block": (display: block),
        "inline-block": (display: inline-block),
        "inline": (display: inline),
        "invisible": (visibility: hidden),
        "hidden": (display: none),
    )
) !default;
@include register($display);

$overflow : (
    'responsive': true,
    'definitions':  (
        "overflow-visible": (overflow: visible),
        "overflow-scroll": (overflow: scroll),
        "overflow-inherit": (overflow: inherit),
        "overflow-initial": (overflow: initial),
        "overflow-hidden": (overflow: hidden),
        "overflow-auto": (overflow: auto),
    )
) !default;
@include register($overflow);

$opacity : (
    'responsive': true,
    'hover': true,
    'pseudo': true,
    'definitions':  (
        "opacity-0": (opacity: 0),
        "opacity-1\\/6" : (opacity: (1/6)),
        "opacity-1\\/5" : (opacity: (1/5)),
        "opacity-1\\/4" : (opacity: (1/4)),
        "opacity-1\\/3" : (opacity: (1/3)),
        "opacity-2\\/5" : (opacity: (2/5)),
        "opacity-1\\/2" : (opacity: (1/2)),
        "opacity-3\\/5" : (opacity: (3/5)),
        "opacity-2\\/3" : (opacity: (2/3)),
        "opacity-4\\/5" : (opacity: (4/5)),
        "opacity-3\\/4" : (opacity: (3/4)),
        "opacity-5\\/6" : (opacity: (5/6)),
        "opacity-1": (opacity: 1),
    )
) !default;
@include register($opacity);

