
$flex-directions : (
    'responsive': true,
    'definitions':  (
        "flex-row": (flex-direction: row),
        "flex-reverse": (flex-direction: row-reverse),
        "flex-column": (flex-direction: column),
        "flex-column-reverse": (flex-direction: column-reverse),
    )
) !default;

@include register($flex-directions);

$flex-wrap : (
    'responsive': true,
    'definitions':  (
        "flex-no-wrap": (flex-wrap: nowrap),
        "flex-wrap": (flex-wrap: wrap),
        "flex-wrap-reverse": (flex-wrap: wrap-reverse),
    )
) !default;
@include register($flex-wrap);

$flex-justify : (
    'responsive': true,
    'definitions':  (
        "justify-start": (justify-content: flex-start),
        "justify-center": (justify-content: center),
        "justify-end": (justify-content: flex-end),
        "justify-between": (justify-content: space-between),
        "justify-around": (justify-content: space-around),
    )
) !default;
@include register($flex-justify);

$flex-items : (
    'responsive': true,
    'definitions':  (
        "items-stretch": (align-items: stretch),
        "items-start": (align-items: flex-start),
        "items-center": (align-items: center),
        "items-end": (align-items: flex-end),
        "items-baseline": (align-items: baseline),
    )
) !default;
@include register($flex-items);


$flex-content : (
    'responsive': true,
    'definitions':  (
        "content-start": (align-content: flex-start),
        "content-center": (align-content: center),
        "content-end": (align-content: flex-end),
        "content-between": (align-content: space-between),
        "content-around": (align-content: space-around),
    )
) !default;
@include register($flex-content);

$flex-self : (
    'responsive': true,
    'definitions':  (
        "self-auto": (align-self: flex-auto),
        "self-start": (align-self: flex-start),
        "self-center": (align-self: center),
        "self-end": (align-self: flex-end),
        "self-stretch": (align-self: stretch),
    )
) !default;
@include register($flex-self);




$flex-utilities : (
    'responsive': true,
    'definitions':  (
        "flex-initial": (flex: initial),
        "flex-1": (flex: 1),
        "flex-auto": (flex: auto),
        "flex-none": (flex: none),
        "flex-grow": (flex-grow: 1),
        "flex-shrink": (flex-shrink: 1),
        "flex-no-grow": (flex-grow: 0),
        "flex-no-shrink": (flex-shrink: 0),
    )
) !default;
@include register($flex-utilities);


$orders : (
    'responsive': true,
    'definitions':  (
        "order--1": (order : -1),
        "order-1": (order : 1),
        "order-2": (order : 2),
        "order-3": (order : 3),
        "order-4": (order : 4),
        "order-5": (order : 5),
    )
) !default;
@include register($orders);