// layout
$container-width: 1000px !default;
$gutter: 2rem !default;

$colors: (
    'brand': #7963FF,
    'brand-light': lighten(#7963FF, 15%),
    'gray': #999,
    'white': #fff, 
    'black': #000, 
    'transparent': transparent
) !default;

$breakpoints: (
    'mobile': 450px,
    'tablet': 700px,
    'desktop': 1000px,
    'hd': 1400px,
) !default;

$fonts : (
    'prefix': "font-",
    'responsive': false,
    'property': font-family,
    'values': (
        'default': #{'"Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif'},
        'heading': #{"'Montserrat', sans-serif"},
        'monospace': #{'"Roboto Mono", monospace'}
    )
);


// import framwork
@import "framework/framework";

// import partials
@import "partials/base";
@import "partials/code";

