/* Colors */
$white: #fff;

$dark-gray: #555;
$gray: #aaa;
$light-gray: #eee;
$soft-gray: #f5f5f5;



$blue: #65C3DF;
$dark-blue: darken($blue,20%);

$green: #56BA6D;
$dark-green: darken($green,20%);
$light-green: lighten($green,20%);





/* Colors By  element */

$link-color: $blue;
$link-hover-color: $dark-blue;