/* Colors */
$white: #fff;
$translucent-white: rgba(255,255,255,0.85);

$black: #000;
$translucent-black: rgba(0,0,0,0.3);


$darker-gray: #333;
$dark-gray: #555;
$gray: #aaa;
$light-gray: #ddd;
$lighter-gray: #eee;
$soft-gray: #f5f5f5;



$blue: #65C3DF;
$dark-blue: darken($blue,10%);

$navy: #444b65;
$dark-navy: darken($navy,10%);
$light-navy: lighten($navy,10%);


$green: #56BA6D;
$dark-green: darken($green,10%);
$light-green: lighten($green,10%);

$red: #E8464E;
$dark-red: darken($red,10%);
$light-red: lighten($red,10%);


/* Colors By  element */

$link-color: $navy;
$link-hover-color: $blue;