/*! xPages Admin Theme by Adam Spruijt = copyright 2013 */
@import "variables";
@import "normalize";

html {
  height: 100%;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  color: $dark-gray;
  position: relative;
  background: $soft-gray;
  min-height: 100%;
}

h1, h2, h3, h4 {
  font-weight: 100;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.85em;
}

a {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  color: $link-hover-color;
}

hr {
  border: none;
  border-bottom: 1px solid $lighter-gray;
  margin: 1em 0;
}

pre {
  font-family: monospace;
}

code {
  display: block;
  border: 1px solid #ccc;
  padding: 1em;
  background: #fff;
}

table {
  width: 100%;
  border: 1px solid $light-gray;

}

th, td {
  background: $white;
  vertical-align: middle;
  padding: 0.7em 0.9em;
  line-height: 1em;
  text-align: left;
}

th {
  padding: 0.9em;
  border-bottom: 1px solid $light-gray;
}

td {
  border-top: 1px dashed $lighter-gray;
  border-left: 1px dashed $lighter-gray;
}

tr:first-child td {
  border-top: 0;
}

td:first-child {
  border-left: 0;
}

/* Forms */

input, textarea, button, select {
  box-sizing: border-box;
  padding: 0.5em;
  line-height: 1em;
  vertical-align: middle;
  max-width: 100%;
  // height: 2em;
  border: 1px solid $gray;
  &:focus {
    outline-color: $blue;
    border-color: $blue;
  }
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
}

legend {
  font-size: 1.6em;
  font-weight: 100;
  margin: 0.8em 0;
  width: 100%;
  padding: 0.4em 0;
  border-bottom: 1px solid $light-gray;
}

select {
  padding-bottom: 0.4em;
}
