/**
Buttons
**/

.button,
a.button{
  border-radius: 2em;
  cursor: pointer;
  border: none;
  outline: none !important;
  text-transform: uppercase;
  padding: 0.5em 1.2em;
  background: $gray;
  font-weight: normal;
  color:#fff;
  text-decoration: none !important;
  line-height: 1em;
  display: inline-block;
  font-size: 1em;
  &:hover{
    background: $darker-gray;

  }
  .icon{
    //    color: #fff;
  }
}

.button-save{
  color: #fff;
  background: $dark-green;
  &:hover{
    background: $green;
  }
}

.button-delete{

  &:hover{
    color: #fff;
    background: $red;
  }
}
