
.menu{
  padding: 0;
  margin: 0;
  list-style: none;
  .item{
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0.8em 1em;
    text-decoration: none !important;
    .icon{
      font-size: 14px !important;
    }
  }
  a:hover{
    text-decoration: none !important;
  }
  &.vertical{
    .item{
      display: block;
    }
  }
}

.main-menu{
  .item{
    color: $gray;
    padding: 1.3em 0;
    margin-right: 2em;
    position: relative;
    display: inline-block;
    text-decoration: none !important;
    .icon{
      margin-right: 0.2em;
    }
    &:hover{
      color: $brand;
      // background: ;
    }
    &.active{
      color: #000;
      &:before {
        content: "";
        position: absolute;
        border-style: solid;
        border-width: 8px 8px 0 8px;
        top: 0;
        left: 50%;
        margin-left: -8px;
        border-color: $brand transparent transparent transparent;
      }
    }
  }
}


.dropdown{
  position: relative;
  .menu{
    position: absolute;
    display: none;
    right: 0;
    background: $dark-gray;
    //    box-shadow: 0 0 1em $light-gray;
    z-index: 5;
    top: 1.7em;
    padding: .3em 0;
    :before{
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      right: .9em;
      bottom: 100%;
      border-style: solid;
      border-width: 0 0.4em 0.4em 0.4em;
      border-color:  transparent transparent $dark-gray transparent;

    }
    .item{
      display: block;
      text-transform: none;
      padding: .3em .6em;
      color: $light-gray;
      &:hover{
        color: #fff;
        background: $brand;
      }
    }
  }
  &.open{
    .menu{
      display: block;
    }
    .button{
      color: $brand;
    }
  }
}
