/**
User Menu
**/

.user-menu{
  padding-top: 2em;
  text-align: right;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  //  background: darken($sidebar-background, 5%);
}
.user-menu-content{
  //  padding: 1em;
}

.user-name{
  line-height: 1em;
  color: $blue;
  margin-right: 1em;
  display: inline-block;
//  width: 60%;
  vertical-align: middle;

}
.user-logout{
  text-transform: uppercase;
  color: $gray;


  text-decoration: none !important;
//  width: 40%;
//  text-align: right;
  display: inline-block;
  vertical-align: middle;
  &:hover{
    color: $brand;
  }
}