/**
User Menu
**/

.user-menu{
  padding-top: 2em;
  text-align: right;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
}

.user-name{
  line-height: 1em;
  color: rgba(0,0,0,.4);
  margin-right: 1em;
  display: inline-block;
  padding-left: 1em;
  vertical-align: middle;

}

.user-menu-content {
  display: inline-block;
  background: #fff;
  padding: .5em;
  border: 1px solid $light-gray;
  border-radius: 2em;
}
.user-logout{
  text-transform: uppercase;
  color: rgba(0,0,0,.6);
  text-decoration: none !important;
  display: inline-block;
  vertical-align: middle;
  background: $light-gray;
  padding: .5em 1em;
  border-radius: 2em;
  &:hover{
    color: #fff;
    background: $brand;
  }
}